.header {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reset-btn {
  background: #E86394;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.reset-btn:hover {
  transform: scale(1.1);
}